doctype
html
	head
		meta(charset='utf-8')
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		link(rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css")
		link(rel="stylesheet" href="../src/timyo.css")
		link(rel="stylesheet" href="../src/media.css")
		title Timyo
	body
		.header-bg
			.header
				nav.navbar.navbar-default
					.container
						.navbar-header
							button#nav-botton.navbar-toggle.collapsed(type='button' data-toggle='collapse' data-target='#bs-example-navbar-collapse-1' aria-expanded='false')
								span.sr-only Toggle navigation
								span.icon-bar
								span.icon-bar
								span.icon-bar
							a.navbar-brand(href='')
								img(src='../img/h1.png')
						.navbar-collapse.collapse#bs-example-navbar-collapse-1(aria-expanded='false' style='height:1px;')
							ul.nav.navbar-nav.navbar-right.press
								li 
									a Mission
								li
									a FAQ
								li
									a Blog
								li
									a
										img(src='../img/h2.png')
								li
									a
										img(src='../img/h3.png')
			.banner-info
				.container
					.col-md-7.banner-info-left.text-center
						div.tagline(style='width:88%;margin:0 auto')
							br
							br
							ul#appear_size
								li
									h2 It's about time
								li
									h2 No matter how
								li
									h2 What about you 
						h2(style="font-size:36px;") email that matters,
							br 
							span when it matters.
							p
								a(style='font-size:18px;' href='###') Watch the video
					.col-md-5.slider
						div#for-img1.callbacks-container.text-center
							ul.lunbotu
								li
									img(src='../img/lunbo1.png')
								li
									img(src='../img/lunbo2.png')
								li
									img(src='../img/lunbo3.png')
								li
									img(src='../img/lunbo4.png')
							ul.bots#bots
								li.active
								li
								li
								li
		.for_apple
			.container
				h3 Available now for iOS!
				p.txt1 Currently available for Gmail and Google Apps - more providers coming soon.
				br
				br
				a(href='###')
					img(style="height:60px;width:203px;" src='../img/app1.png' alt='Download Timyo on The App Store')
				br
				div.txt2
					.inner
						.wrap
							.icon-small
							span.caret
							input(placeholder='(201)555-5555')
						button.btn Text me a link
				br
				br
				p.txt3 If you are on Android or Windows Phone,we are working on versions for you!
					br 
					z Enter your email and choose your OS below to be notified.
				form(method="post")
					input.input1(type='text' value="Your email address")
					p.txt4 Choose your OS to submit.
					input.input2(type="submit" name="android" id="android" value)
					input.input3(type="submit" name="windows" id="windows" value)
		.wait
			.container
				.txt1.text-center
					h3.text-center Wait!
						br
						span You don't need to answer every email as soon as it
						br
						span hits your inbox.
				#for_img
					img(src='../img/a3p1.png')
				.txt2
					p.size That's why we've reimagined your inbox and created Agenda View to let you know at a glance which emails are important and when you need to deal with them. With Timyo, you can communicate more meaningfully by sending and receiving emails with clear expectations that are already prioritized by time.
						br
						br
						span Now you can focus on the email that matters, when it matters.
		.features
			.container#what-matter
				h4.txt1.text-center Focus on what matters today
				p.text-center.txt2
					br
					br
					a.link1(href="###") See how Timyo helps you&nbsp;
			.container.area 
				div.col-md-5#left-img
					img(src="../img/a4p1.jpg")
				div.col-md-7.features-right
					.wrap
						.right-top.right-total
							.design-blue
								a(href="###")
									h5 Manage important email by time
								p.txtq No need to clean out your inbox. Select only the emails that matter to you, assign a date and don't worry about the rest.
						.right-middle1.right-total
							.design-yellow
								a(href="###")
									h5 Receive email already prioritized by time
								p.txtq No need to clean out your inbox. Select only the emails that matter to you, assign a date and don't worry about the rest.
						.right-middle2.right-total
							.design-green
								a(href="###")
									h5 Oversee email through Agenda View
								p.txtq Stay organized at a glance! Use Agenda View to easily manage your time without leaving your inbox.
						.right-bottom.right-total
							.design-red
								a(href="###")
									h5 Get reminders on pending replies  
								p.txtq Because your email is sent with clear expectations, Reply Tracker lets you know when a reply is still pending or overdue.
		.gift
			.container
				.expectations
					img.for-img1(src="../img/gift1.png")
				.banner-text
					h3.txt1 Give the gift of
						br
						span clear expectations
					p.txt2 When recipients open your email, they will see immediately a clear, simple, and polite message letting them know when you would like them to respond. By giving the gift of clear expectations, you give them other gifts as well: peace of mind, increased productivity, and, ultimately, time.
						br
						br
						span And it’s hard to think of a better gift than that.
		.clarity-bg
			.container
				h4.txt1 Timyo works on your desktop as well
				.wrap
					.col-md-4.wrap-inner
						img(src='../img/zhuomian1.png')
					.col-md-4.wrap-inner
						img(src='../img/zhuomian2.png')
					.col-md-4.wrap-inner
						img(src='../img/zhuomian3.png')
					div.text-center
						a(href="")
							img(src="../img/zhuomian4.png")
		.clarity-bg(style="background:#f7f7f7")
			.container
				h4.txt1.text-center We are on a mission
				div.area1
					.col-md-4.inner
						img(src='../img/mi1.png')
						h4(style='color:#ffcc00;') Clarity
						p Email remains the #1 tool today’s workforce uses to communicate. Unfortunately, it was not designed for the ‘always on’ expectations that have become the norm. Thanks to Timyo, users can now benefit from clear and proactive communication.
					.col-md-4.inner
						img(src='../img/mi2.png')
						h4(style='color:#007aff;') productivity
						p By helping you stay focused on important emails when they matter to you, Timyo helps you cut through the clutter. And when the people you work with use Timyo too, your email will come already prioritized by due date.
					.col-md-4.inner
						img(src='../img/mi3.png')
						h4(style='color:#4cd964;') Peace
						p At Timyo, we believe it's time for email to make your life easier again. With email prioritized by time and features like Agenda View and Reply Tracker, Timyo takes the stress out of email and puts something much better in its place: peace.
		.upgrade
			.container
				h4.txt1.text-center Upgrade to business class email
			.container
				.col-md-5
					img.img1(src="../img/up1.png")
				.col-md-7.up-right
					.inner
						.area
							.design-red
								h5.txt2 Easy setup
								p.txt3 Enter your email account and password and voila! You've got Timyo.

						.area
							.design-red
								h5.txt2 Existing account
								p.txt3 Timyo isn't another new email address to manage — it's a way to better manage your existing accounts.
						.area
							.design-red
								h5.txt2 Free & Flexible
								p.txt3 You can switch back and forth between Timyo and your providers' apps whenever you want to (but we don't think you'll want to).
						.area
							.design-red
								h5.txt2 Private & Secure
								p.txt3 Timyo never stores, processes, or transmits your data through third-party servers. Passwords are never stored on our servers.
							a.link3(href='')
								img(height='60' width='203' src='../img/fix1.png')
		.footer-info.text-center
			.container
				br
				p.txt1 Timyo is a patented solution: US 20150007048A1
				br
				a(href="###") Privacy Policy
				| |
				a(href="###") Security
				| |
				a(href='###') Press Inquiries
				| |
				a(href='###') About Us
				p.txt2 ©2015 Timyo. All rights reserved.
		.rocket
			a(href='###')
				img(src='../img/app1.png')



	script(src="../src/timyo.js")
	script(src="http://cdn.bootcss.com/jquery/2.0.0/jquery.min.js")
	script(src="http://cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js")